.header
  .header-in
    .header-in__title
      %h1 Connected Park
      .header-in--subtitle
        %p オススメ公園を分かち合うオンラインプラットフォーム
    .header__list__right
      .header__list__right__userName
        %p ユーザーネーム：
        %p tarou
      .header__list__right__login
        %a(href="#")ログアウト
  %ul.header__nav
    %li.header__nav__toyota
      %a(href="#")豊田市
    %li.header__nav__nagoya
      %a(href="#")名古屋市
    %li.header__nav__anjyou
      %a(href="#")安城市
    %li.header__nav__nagakute
      %a(href="#")長久手市
    %li.header__nav__handa
      %a(href="#")半田市